{% extends 'base.html.twig' %}

{% block title %}Connexion a CrazyBox
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<h1 class="h1register">Connexion</h1>
	<form action="{{ path('app_login') }}" method="post" class="registerall loginall">
		<label for="username">Email</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}">

		<label for="password">Mot de passe</label>
		<input
		type="password" id="password" name="_password">

		{# If you want to control the URL the user is redirected to on success
								<input type="hidden" name="_target_path" value="/account"> #}

		<button type="submit" class="buttonregister">Se connecter</button>
		<a href="{{ path('app_register') }}">Pas encore inscrit ?</a>
	</form>

	
{% endblock %}
