.fullnav {
    background-color: #11191F;
    position: fixed;
    width: 100%;
    padding: 10px;
    opacity: 0.9;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


svg {
    margin-right: 20px;
}

svg:hover {
    background-color: #364a59;
    padding: 5%
}