<footer class="footer-distributed">

	<div class="footer-left">

		<h3>Crazy<span>Box</span>
		</h3>
		<p class="footer-company-name">CrazyBox © 2023</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>
				<span>4 Quai des queryies</span>Bordeaux, France</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>06 66 66 66 66</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p>
				<a href="mailto:support@company.com">support@crazybox.com</a>
			</p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>à propos de l'entreprise</span>
			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
		</p>

	</div>

</footer>
