<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Mauvaise Nouvelle</title>
	</head>
	<body>
		<h1>Nous sommes désolés de vous annoncer que le programme
			{{ article.name }}
			n'est plus disponible</h1>
		<p>
			Suite à de nombreuses plaintes concernant l'éthique de notre activté, nous sommes aux regrets de vous annoncé la suppression de l'activité
			{{article.name}}</p>
		<p>
			Merci de votre compréhension</p>
		<p>A bientot chez CrazyBox</p>

	</body>
</html>
