<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Bonne Nouvelle</title>
	</head>
	<body>
		<h1>Nous sommes ravi de vous annoncer que l'activité
			{{ article.name }}
			est disponible</h1>
		<p>
			Rendez-vous sur le site pour vous inscrire et faire parti des premiers</p>
		<p>
			A tres bientot chez Crazy Box</p>

	</body>
</html>
